@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Quicksand&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  cursor: none;
  backface-visibility: hidden;
}

body {
  @apply flex flex-col h-screen bg-background-main text-gray-400;
  background: url(../images/main-bg.webp) no-repeat 100% 100%;
  background-size: cover;
}

main {
  @apply flex-grow overflow-y-auto overflow-x-hidden;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-400 rounded-lg;
}

.linear-text-container {
  @apply relative w-[5rem] min-h-[1rem];
}

.linear-text {
  @apply absolute top-[50%] translate-y-[-50%] left-0;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#mouseTracker {
  position: fixed;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 1px solid white;
  pointer-events: none;
}

#trackerInner {
  position: fixed;
  top: 0;
  left: 0;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
}
